* {
	background-color: #dda0dd;
}

h6 {
	position: relative;
	font-size: 24px;
	border: 2px solid black;
	border-radius: 4px;
}

.h{
	left: 250px;
	top: -80px;
	width: 65px;
}

.f {
	left: 500px;
	top: -166px;
	width: 94px;
}

.d {
	left: 1000px;
	top: -252px;
	width: 109px;
}

.p {
	width: 130px;
	left: 750px;
	top: -339px;
}

img {
	position: relative;
	left: 75px;
	top: 10px;
}

.ch {
	position: relative;
	top: -230px;
	width: 980px;
	left: 170px;
	background-color: white;
}

h1, h3, h4, h5 {
	background-color: white;
	padding-left: 25px;
}

h1 {
	font-size: 48px;
	font-family: oswald;
}

h3 {
	font-style: italic;
	color: red;
}

h4, h5 {
	font-family: "Source Code Pro";
}

h4 {
	font-weight: bold;
	font-size: 20px;
}

h5 {
	padding-bottom: 40px;
}